.slide
  .invisible.img.contain{ style: "background-image: url('images/archipelago.png');" }
  .content.open-transition
    %i.mdi.mdi-arrow-left.close-project-desc.dark.invisible
    .img.contain{ style: "background-image: url('images/archipelago.png');" }
    %h2.invisible Archipelago
    %hr.invisible
    .text.invisible= partial "projects/text/archipelago"
  .learn-more
    %i.fa.fa-chevron-right
    Learn More
