.slide
  .invisible.img{ style: "background-image: url('images/cal.svg');" }
  .content.open-transition
    %i.mdi.mdi-arrow-left.close-project-desc.dark.invisible
    .img{ style: "background-image: url('images/cal.svg');" }
    %h2.invisible California University of PA Class Advisor
    %hr.invisible
    .text.invisible= partial "projects/text/calu_advisor"
