.swiper-slide
  .img.contain{ style: "background-image: url('images/cal.png');" }
  %h2 California University of PA Class Advisor
  %hr
  .text
    = partial "projects/text/calu_advisor"
  .learn-more
    %i.fa.fa-chevron-right
    Learn More
  %i.mdi.mdi-arrow-left.close-project-desc.dark
