.slide
  .invisible.img{ style: "background-image: url('images/cal.svg');" }
  .content.open-transition
    = partial "images/chevron_left"
    .img{ style: "background-image: url('images/cal.svg');" }
    %h2.invisible California University of PA Class Advisor
    %hr.invisible
    .text.invisible= partial "projects/text/calu_advisor"
