.swiper-slide
  .img.contain{ style: "background-image: url('images/eighty.png');" }
  %h2 Eighty
  %hr
  .text
    = partial "projects/text/eighty"
  .learn-more
    %i.fa.fa-chevron-right
    Learn More
  %i.mdi.mdi-arrow-left.close-project-desc.dark
