.slide
  .invisible.img{ style: "background-image: url('images/eighty.png');" }
  .content.open-transition
    %i.mdi.mdi-arrow-left.close-project-desc.dark.invisible
    .img{ style: "background-image: url('images/eighty.png');" }
    %h2.invisible Eighty
    %hr.invisible
    .text.invisible= partial "projects/text/eighty"
