.slide
  .invisible.img{ style: "background-image: url('images/eighty.svg');" }
  .content.open-transition
    = partial "images/chevron_left"
    .img{ style: "background-image: url('images/eighty.svg');" }
    %h1.project-name.invisible Eighty
    %hr.invisible
    .text.invisible= partial "projects/text/eighty"
