.slide
  .invisible.img{ style: "background-image: url('images/n2_logo.png');" }
  .content.open-transition
    %i.mdi.mdi-arrow-left.close-project-desc.dark.invisible
    .img{ style: "background-image: url('images/n2_logo.png');" }
    %h2.invisible N2 Publishing
    %hr.invisible
    .text.invisible= partial "projects/text/n2"
