.swiper-slide
  .img.contain{ style: "background-image: url('images/n2_logo.png');" }
  %h2 N2 Publishing
  %hr
  .text
    = partial "projects/text/n2"
  .learn-more
    %i.fa.fa-chevron-right
    Learn More
  %i.mdi.mdi-arrow-left.close-project-desc.dark
