.slide#n2
  .invisible.img{ style: "background-image: url('images/n2_logo.svg');" }
  .content.open-transition
    = partial "images/chevron_left"
    .img{ style: "background-image: url('images/n2_logo.svg');" }
    %h2.invisible N2 Publishing
    %hr.invisible
    .text.invisible= partial "projects/text/n2"
