.slide
  .invisible.img{ style: "background-image: url('images/github.svg');" }
  .content.open-transition
    = partial "images/chevron_left"
    .img{ style: "background-image: url('images/github.svg');" }
    %h1.project-name.invisible Open Source Contributions
    %hr.invisible
    .text.invisible= partial "projects/text/open_source"
