.slide
  .invisible.img{ style: "background-image: url('images/github.svg');" }
  .content.open-transition
    %i.mdi.mdi-arrow-left.close-project-desc.dark.invisible
    .img{ style: "background-image: url('images/github.svg');" }
    %h2.invisible Open Source Contributions
    %hr.invisible
    .text.invisible= partial "projects/text/open_source"
