.swiper-slide
  .img.contain{ style: "background-image: url('images/osi_symbol.png');" }
  %h2 Open Source Contributions
  %hr
  .text
    = partial "projects/text/open_source"
  .learn-more
    %i.fa.fa-chevron-right
    Learn More
  %i.mdi.mdi-arrow-left.close-project-desc.dark
