#projects
  padding: 0px 30px
  position: relative
  z-index: 1
  .skew
    padding: 20px 0
    margin: auto
    max-width: 950px
    &:before
      content: ''
      z-index: -1
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: #F7F7F7
      -webkit-transform: skewY(-8deg)
      -moz-transform: skewY(-8deg)
      -ms-transform: skewY(-8deg)
      -o-transform: skewY(-8deg)
      transform: skewY(-8deg)
      -webkit-backface-visibility: hidden
      @media (min-width: 550px)
        height: 103%
      @media (min-width: 700px)
        height: 106%
      @media (min-width: 1000px)
        height: 109%
      @media (min-width: 1150px)
        height: 112%
      @media (min-width: 1300px)
        height: 115%
    h1
      text-align: right
      margin: 21px 0
    .swiper-container
      margin-top: 43px
      max-height: 450px
      .swiper-wrapper.active
        transform: none !important
      .swiper-slide
        max-width: 450px
        max-height: 450px
        &.active
          position: fixed
          top: 0
          left: 0
          width: 100%
          max-width: 100%
          z-index: 1000
          max-height: 100%
          margin: 0 !important
          background-color: #F7F7F7
          overflow-y: scroll
          .img
            width: 100%
            max-width: 1000px
            padding-bottom: 43%
            margin-left: auto
            margin-right: auto
          .text
            display: block
          h2
            display: block
          hr
            border: 0
            border-bottom: 1px solid #212121
            width: 100px
            display: block
            margin-bottom: 35px
          .learn-more
            display: none
          .mdi-arrow-left
            display: block
        .img
          background-repeat: no-repeat
          background-size: cover
          background-position: center center
          padding-bottom: 80%
          transition: all 0.6s ease
          max-width: 450px
          &.contain
            background-size: contain
        .text
          display: none
          ul
            max-width: 600px
            margin: auto
            padding-left: 175px
          p
            margin-left: auto
            margin-right: auto
            padding-left: 20px
            padding-right: 20px
            line-height: 1.15
            letter-spacing: 0.5px
            max-width: 550px
        h2, hr
          display: none
          text-align: center
        .learn-more
          margin-top: 10px
          color: #CBCBCB
          margin-bottom: 20px
          cursor: pointer
        .mdi-arrow-left
          position: absolute
          top: 0
          left: 0
          font-size: 23px
          color: #fff
          left: 15px
          top: 15px
          display: none
          cursor: pointer
          &.dark
            color: #CBCBCB
