@import url(https://rsms.me/inter/inter.css);
.grecaptcha-badge {
  opacity: 0; }

#contact {
  margin: auto;
  margin-top: 20%;
  padding: 0px 30px;
  max-width: 950px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px; }
  #contact .recaptcha-disclosure {
    font-feature-settings: "calt" 1;
    line-height: 1.35;
    letter-spacing: 0.5px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 300; }
    #contact .recaptcha-disclosure a {
      color: #212121;
      font-weight: 500;
      text-decoration: underline; }
  #contact h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    #contact h1 .slash {
      margin-right: 10px; }
  #contact form {
    padding: 0 30px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 35px;
    position: relative;
    max-width: 550px;
    margin: auto;
    margin-top: 95px; }
    #contact form input {
      width: 100%;
      margin-top: 30px;
      border: none;
      border-bottom: 1px solid #cbcbcb;
      padding: 0px;
      padding-bottom: 5px;
      outline: none;
      font-weight: 400;
      transition: transform 250ms ease-in-out;
      font-family: Inter; }
    #contact form .input-border:after {
      display: block;
      content: '';
      border-bottom: solid 1px #cbcbcb;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
      transform-origin: 0% 50%; }
    #contact form input:focus + .input-border:after, #contact form textarea:focus + .input-border:after {
      transform: scaleX(1); }
    #contact form textarea {
      width: 100%;
      margin-top: 30px;
      border: none;
      border-bottom: 1px solid #cbcbcb;
      padding: 0px;
      padding-bottom: 5px;
      outline: none;
      font-weight: 400;
      transition: transform 250ms ease-in-out;
      resize: none;
      font-family: Inter; }
    #contact form textarea + .input-border {
      margin-top: -3px; }
    #contact form .submit {
      width: 50px;
      height: 50px;
      background: #212121;
      border-radius: 50%;
      position: absolute;
      bottom: -25px;
      right: 25px;
      border: none;
      cursor: pointer; }
      #contact form .submit i {
        color: #fff;
        position: absolute;
        left: 13px;
        top: 13px;
        font-size: 20px; }
  #contact .social {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #contact .social .social-container {
      width: 40px;
      height: 40px;
      background: #D1D1D0;
      border-radius: 50%;
      position: relative;
      margin: 0 10px; }
      #contact .social .social-container i {
        position: absolute;
        color: #fff; }
        #contact .social .social-container i.fa-github {
          font-size: 28px;
          top: 6px;
          left: 6px; }
        #contact .social .social-container i.fa-linkedin-in {
          font-size: 25px;
          top: 7px;
          left: 10px; }

#hamburger {
  width: 15px;
  height: 12px;
  margin-left: 30px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: fixed; }
  @media (max-width: 600px) {
    #hamburger {
      display: flex; } }
  #hamburger div {
    height: 1px;
    background: #212121;
    border-radius: 3px; }

#hamburger-menu {
  position: fixed;
  left: 0;
  width: 100%;
  top: -250px;
  z-index: 10001;
  transition: all 400ms ease;
  display: none; }
  @media (max-width: 600px) {
    #hamburger-menu {
      display: block; } }
  #hamburger-menu svg {
    width: 10px;
    position: absolute;
    visibility: visible;
    right: 50px;
    top: 25px;
    cursor: pointer;
    z-index: 10003;
    transform: rotate(90deg); }
  #hamburger-menu.active {
    top: 0px; }
    #hamburger-menu.active:before {
      top: -100px; }
  #hamburger-menu:before {
    content: '';
    height: 400px;
    width: 100%;
    position: fixed;
    left: 0;
    top: -450px;
    background-color: #F7F7F7;
    -webkit-transform: skewY(-8deg);
    -moz-transform: skewY(-8deg);
    -ms-transform: skewY(-8deg);
    -o-transform: skewY(-8deg);
    transform: skewY(-8deg);
    -webkit-backface-visibility: hidden;
    transition: all 350ms ease; }
  #hamburger-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin: 0;
    padding: 0;
    z-index: 10002;
    position: relative; }
    #hamburger-menu ul li {
      padding-top: 15px;
      padding-bottom: 15px; }
      #hamburger-menu ul li a {
        text-decoration: none;
        color: #212121;
        font-size: 17px;
        font-weight: 300; }

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -2;
  overflow: none;
  opacity: 0;
  transition: all 350ms ease;
  display: none; }
  @media (max-width: 600px) {
    #backdrop {
      display: block; } }
  #backdrop.active {
    z-index: 10000;
    opacity: 1; }

#hire-me {
  padding: 8px 25px;
  background: #212121;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  font-size: 12px;
  letter-spacing: 1px;
  margin-right: 30px; }

#projects {
  padding: 0px 30px;
  position: relative; }
  #projects #n2 li {
    margin: 16px 0; }
  #projects #resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; }
    #projects #resume .resume-container {
      position: relative;
      height: 275px;
      width: 275px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      font-weight: 200;
      cursor: pointer;
      text-decoration: none;
      color: #000; }
      #projects #resume .resume-container span {
        z-index: 2; }
      #projects #resume .resume-container svg {
        position: absolute;
        width: 200px;
        z-index: 0; }
        #projects #resume .resume-container svg g {
          transition: all 250ms linear;
          fill: #e5e5e5; }
      #projects #resume .resume-container:hover g {
        fill: #f0f0f0; }
  #projects .skew {
    margin: auto;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 600px; }
    #projects .skew:before {
      content: '';
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #F7F7F7;
      transform-origin: top right;
      -webkit-transform: skewY(-8deg);
      -moz-transform: skewY(-8deg);
      -ms-transform: skewY(-8deg);
      -o-transform: skewY(-8deg);
      transform: skewY(-8deg);
      -webkit-backface-visibility: hidden; }
    #projects .skew h1.section-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
      #projects .skew h1.section-header .slash {
        margin-right: 10px; }
    @media (max-width: 450px) {
      #projects .skew .mdc-tab-scroller {
        margin-left: -30px;
        margin-right: -30px; } }
    #projects .skew .container {
      margin-top: 45px;
      max-height: 400px;
      height: 320px;
      white-space: nowrap;
      overflow-y: hidden; }
      #projects .skew .container .slide {
        width: 400px;
        display: inline-block;
        position: relative; }
        @media (max-width: 450px) {
          #projects .skew .container .slide {
            width: 300px; } }
        #projects .skew .container .slide .img {
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
          transition: all .4s ease;
          width: 400px;
          height: 320px;
          cursor: pointer; }
          @media (max-width: 450px) {
            #projects .skew .container .slide .img {
              width: 300px;
              height: 275px; } }
        #projects .skew .container .slide .content {
          position: absolute;
          top: 0;
          left: 0;
          width: 400px;
          height: 320px;
          background: #F7F7F7;
          overflow-y: hidden;
          overflow-x: hidden;
          transition: width .4s ease-in-out, height .4s ease-in-out; }
          @media (max-width: 450px) {
            #projects .skew .container .slide .content {
              width: 300px;
              height: 288px; } }
          #projects .skew .container .slide .content.active {
            width: 100vw;
            height: 100vh;
            z-index: 11; }
            #projects .skew .container .slide .content.active .text, #projects .skew .container .slide .content.active h1.project-name, #projects .skew .container .slide .content.active hr, #projects .skew .container .slide .content.active svg.close-project-desc {
              visibility: visible;
              opacity: 1; }
            #projects .skew .container .slide .content.active .img {
              width: 100%;
              max-width: 1000px;
              margin-left: auto;
              margin-right: auto;
              cursor: default; }
          #projects .skew .container .slide .content.open-transition .text, #projects .skew .container .slide .content.open-transition h1.project-name, #projects .skew .container .slide .content.open-transition hr, #projects .skew .container .slide .content.open-transition svg.close-project-desc {
            transition: opacity .2s ease-in-out .2s, visibility .2s ease-in-out .2s; }
          #projects .skew .container .slide .content.close-transition .text, #projects .skew .container .slide .content.close-transition h1.project-name, #projects .skew .container .slide .content.close-transition hr, #projects .skew .container .slide .content.close-transition svg.close-project-desc {
            transition: opacity .2s ease-in-out, visibility .2s ease-in-out; }
          #projects .skew .container .slide .content.fade-out .text, #projects .skew .container .slide .content.fade-out h1.project-name, #projects .skew .container .slide .content.fade-out hr, #projects .skew .container .slide .content.fade-out svg.close-project-desc {
            visibility: hidden !important;
            opacity: 0 !important; }

.project.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 320px;
  background: #F7F7F7;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: width .4s ease-in-out, height .4s ease-in-out; }
  .project.content .img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: all .4s ease;
    width: 400px;
    height: 320px;
    cursor: pointer; }
    @media (max-width: 450px) {
      .project.content .img {
        width: 300px;
        height: 275px; } }
  @media (max-width: 450px) {
    .project.content {
      width: 300px;
      height: 288px; } }
  .project.content.active {
    width: 100vw;
    height: 100vh;
    z-index: 11; }
    .project.content.active .text, .project.content.active h1.project-name, .project.content.active hr, .project.content.active svg.close-project-desc {
      visibility: visible;
      opacity: 1; }
    .project.content.active .img {
      width: 100%;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      cursor: default; }
  .project.content.open-transition .text, .project.content.open-transition h1.project-name, .project.content.open-transition hr, .project.content.open-transition svg.close-project-desc {
    transition: opacity .2s ease-in-out .2s, visibility .2s ease-in-out .2s; }
  .project.content.close-transition .text, .project.content.close-transition h1.project-name, .project.content.close-transition hr, .project.content.close-transition svg.close-project-desc {
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out; }
  .project.content.fade-out .text, .project.content.fade-out h1.project-name, .project.content.fade-out hr, .project.content.fade-out svg.close-project-desc {
    visibility: hidden !important;
    opacity: 0 !important; }
  .project.content .text, .project.content h1.project-name, .project.content hr, .project.content svg.close-project-desc {
    visibility: visible;
    opacity: 0; }
  .project.content .text {
    padding-bottom: 40px;
    max-width: 600px;
    white-space: normal;
    margin: auto;
    font-family: Inter; }
    .project.content .text ul {
      max-width: 550px;
      margin: auto;
      padding-right: 20px;
      padding-left: 55px;
      line-height: 1.35;
      font-size: 17px;
      font-weight: 300; }
      .project.content .text ul ul {
        padding-left: 20px;
        list-style-type: none;
        margin: 15px 0; }
    .project.content .text p {
      margin-left: auto;
      margin-right: auto;
      padding-left: 20px;
      padding-right: 20px;
      line-height: 1.35;
      font-size: 17px;
      font-weight: 300;
      letter-spacing: 0.5px;
      max-width: 550px;
      text-indent: 25px; }
    .project.content .text a {
      color: #212121;
      font-weight: 500;
      text-decoration: underline; }
  .project.content hr {
    text-align: center;
    border: 0;
    border-bottom: 1px solid #c6c6c6;
    width: 100px;
    margin-bottom: 35px; }
  .project.content h1.project-name {
    text-align: center;
    white-space: normal;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: Inter; }
  .project.content svg.close-project-desc {
    position: absolute;
    left: 0;
    font-size: 23px;
    color: #fff;
    left: 15px;
    top: 35px;
    cursor: pointer;
    width: 11px; }

#about {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
  min-height: 100vh;
  position: relative;
  max-width: 550px;
  margin: auto;
  padding: 0px 30px 0px 30px; }
  @media (max-width: 450px) {
    #about {
      padding-top: 100px; } }
  @media (max-height: 650px) {
    #about {
      padding-top: 100px; } }
  #about h1 {
    letter-spacing: 2px;
    line-height: 1.25; }
    #about h1 b {
      font-weight: 500; }
  #about hr {
    border: 0;
    border-bottom: 1px solid #c6c6c6;
    width: 100px; }
  #about .profile {
    background-image: url("../images/profile.jpg");
    width: 175px;
    height: 175px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-position: center; }
  #about p {
    font-feature-settings: "calt" 1;
    margin-bottom: 70px;
    margin-top: 30px;
    line-height: 1.35;
    letter-spacing: 0.5px;
    font-family: Inter;
    font-size: 17px;
    font-weight: 300; }
    #about p a {
      color: #212121;
      font-weight: 500;
      text-decoration: underline; }

.mdc-tab-scroller {
  overflow-y: hidden; }

.mdc-tab-scroller__test {
  position: absolute;
  top: -9999px;
  width: 100px;
  height: 100px;
  overflow-x: scroll; }

.mdc-tab-scroller__scroll-area {
  -webkit-overflow-scrolling: touch;
  display: flex;
  overflow-x: hidden; }

.mdc-tab-scroller__scroll-area::-webkit-scrollbar, .mdc-tab-scroller__test::-webkit-scrollbar {
  display: none; }

.mdc-tab-scroller__scroll-area--scroll {
  overflow-x: scroll; }

.mdc-tab-scroller__scroll-content {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  transform: none; }

.mdc-tab-scroller--align-start .mdc-tab-scroller__scroll-content {
  justify-content: flex-start; }

.mdc-tab-scroller--align-end .mdc-tab-scroller__scroll-content {
  justify-content: flex-end; }

.mdc-tab-scroller--align-center .mdc-tab-scroller__scroll-content {
  justify-content: center; }

.mdc-tab-scroller--animating .mdc-tab-scroller__scroll-area {
  -webkit-overflow-scrolling: auto; }

.mdc-tab-scroller--animating .mdc-tab-scroller__scroll-content {
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1); }

body {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  background: #fff; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 25px;
  width: 100%;
  position: fixed;
  z-index: 10; }

.flex {
  flex: 1; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden; }

.upcase {
  text-transform: uppercase; }

h1 {
  letter-spacing: 4px;
  font-weight: 400; }
  h1 .slash {
    font-size: 44px;
    font-weight: 400;
    margin-right: -5px;
    color: #CBCBCB; }

#notice {
  position: fixed;
  bottom: -100px;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 20px;
  transition: all 350ms ease;
  visibility: hidden; }
  #notice.active {
    visibility: visible;
    bottom: 0; }
