%svg.invisible.close-project-desc{ space: :preserve, style: "enable-background:new 0 0 14.8 27.6;", version: "1.1", viewbox: "0 0 14.8 27.6", x: "0px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", y: "0px" }
  %g
    %g{ transform: "translate(-585.000000, -297.000000)" }
      %g{ transform: "translate(554.000000, 199.000000)" }
        %g{ transform: "translate(25.000000, 25.000000)" }
          %g{ fill: "#000000", transform: "translate(15.000000, 81.000000)" }
            %path{ d: "M4.1,19.3c0.2,0.2,0.4,0.3,0.7,0.3s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L-6.6,5.8L5.5-6.3       c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L-8.7,5.1c-0.4,0.4-0.4,1,0,1.4L4.1,19.3z" }
