#about
  .profile
  %h1 Hi, I'm Nick!
  %p
    I am a web developer who enjoys writing Ruby and Javascript. Some of my
    hobbies include running, biking, playing video games, and writing code.
    I currently work at
    = link_to "N2 Publishing", "https://www.n2pub.com"
    in Wilmington, NC. Scroll down to check out some of the projects I've
    created or contributed to or check out my GitHub
    = link_to "profile.", "https://www.github.com/npezza93"
    If you're
    curious about getting some freelance work done,
    feel free to get in touch down below!
