#about
  .profile
  %h1
    I'm
    %b Nick Pezza,
    a developer who builds stuff with
    %span{ style: "background: #e9573f" } Ruby
    %span{ style: "margin-left: -10px" } ,
    %span{ style: "background: #dea584" } Rust
    %span{ style: "margin-left: -10px" } , and
    %span{ style: "background: #f7df1e" } Javascript
    %span{ style: "margin-left: -10px" } .
  %hr
  %p
    Some of my hobbies include
    #{link_to "running", "https://calvulcans.com/roster.aspx?rp_id=2962"}, playing video games, and writing code.
    I currently work at
    = link_to "N2 Publishing", "https://n2pub.com"
    in Angier, NC. Scroll down to check out some of the projects I've
    created or contributed to, or check out what I'm currently building over on #{link_to "GitHub", "https://www.github.com/npezza93"}. If you're looking to get some freelance work done, get in touch down below!
