#about
  .profile
  %h1 Hi, I'm Nick!
  %p
    I am a web developer who enjoys writing Ruby and Javascript. Some of my
    hobbies include running, biking, playing video games, and writing code.
    I current work at
    %a{ href: "n2pub.com" } N2 Publishing
    in Wilmington, NC. If your curious about getting some freelance work done,
    feel free to get in touch down below.
