#about
  .profile
  %h1 Hi, I'm Nick!
  %p
    I am a web developer who enjoys writing Ruby and Javascript. Some of my
    hobbies include running, biking, playing video games, and writing code.
    I currently work at
    %a{ href: "https://www.n2pub.com" } N2 Publishing
    in Wilmington, NC. If you're curious about getting some freelance work done,
    feel free to get in touch down below or check out my
    %a{ href: "https://www.github.com/npezza93" } GitHub
    profile for my other projects.
