#projects
  .skew.active
    %h1.upcase
      %span.slash #
      projects
    .swiper-container
      .swiper-wrapper
        = partial "projects/n2"
        = partial "projects/calu_advisor"
        = partial "projects/eighty"
        = partial "projects/open_source"
